<a href="https://colab.research.google.com/github/taroshima/22bds0246_EDA/blob/main/22BDS0246.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/countymurders.csv"
df = pd.read_csv(url)

print(df.head())

   rownames  arrests  countyid  density  popul  perc1019  perc2029  percblack  \
0         1      2.0      1001    54.05  32216     20.63     15.28      22.33
1         2      3.0      1001    53.66  31984     20.19     15.55      22.07
2         3      2.0      1001    53.75  32036     19.66     15.73      21.80
3         4      7.0      1001    53.78  32056     19.10     15.88      21.53
4         5      3.0      1001    53.91  32128     18.54     15.92      21.26

   percmale  rpcincmaint  ...  rpcunemins  year  murders  murdrate  \
0     40.25       167.67  ...       29.16  1980        2  0.620810
1     40.36       167.99  ...       43.92  1981        1  0.312656
2     40.42       166.63  ...       71.41  1982        3  0.936446
3     40.47       176.53  ...       72.22  1983        7  2.183679
4     40.51       166.25  ...       40.36  1984        2  0.622510

   arrestrate  statefips  countyfips  execs    lpopul  execrate
0    0.620810          1           1      0  10.38022       0.0
1    0.937969          1           1      0  10.37299       0.0
2    0.624298          1           1      0  10.37462       0.0
3    2.183679          1           1      0  10.37524       0.0
4    0.933765          1           1      0  10.37748       0.0

[5 rows x 21 columns]

In [ ]:
df.columns

Index(['rownames', 'arrests', 'countyid', 'density', 'popul', 'perc1019',
       'perc2029', 'percblack', 'percmale', 'rpcincmaint', 'rpcpersinc',
       'rpcunemins', 'year', 'murders', 'murdrate', 'arrestrate', 'statefips',
       'countyfips', 'execs', 'lpopul', 'execrate'],
      dtype='object')

In [ ]:
df.shape

(37349, 21)

In [ ]:
df.describe()

,rownames,arrests,countyid,density,popul,perc1019,perc2029,percblack,percmale,rpcincmaint,...,rpcunemins,year,murders,murdrate,arrestrate,statefips,countyfips,execs,lpopul,execrate
count,37349.000000,36845.000000,37349.000000,37349.000000,3.734900e+04,37349.000000,37349.000000,37349.000000,37349.000000,37346.000000,...,37346.000000,37349.000000,37349.000000,37349.000000,36845.000000,37349.000000,37349.000000,37349.000000,37349.000000,37349.000000
mean,18675.000000,6.782250,32921.927173,252.241067,8.934354e+04,15.582640,14.584615,7.823194,43.350958,165.450844,...,70.557953,1988.000000,7.286915,0.508202,0.511486,32.821575,100.352299,0.006854,10.347289,0.001042
std,10781.871939,50.128657,15528.352966,1663.768484,2.718545e+05,1.973399,3.696407,13.287067,3.717612,97.488961,...,52.909393,4.899045,47.217586,0.851044,1.232562,15.503684,107.942699,0.112448,1.327145,0.029068
min,1.000000,0.000000,1001.000000,0.050000,8.500000e+01,7.080000,5.617244,0.000000,35.150000,5.490000,...,0.000000,1980.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,4.442651,0.000000
25%,9338.000000,0.000000,20105.000000,17.681580,1.314400e+04,14.320000,12.301700,0.200000,40.900000,96.250000,...,35.200000,1984.000000,0.000000,0.000000,0.000000,20.000000,33.000000,0.000000,9.483721,0.000000
50%,18675.000000,1.000000,36065.000000,44.240000,2.879200e+04,15.420000,14.270000,1.450000,41.810000,145.147500,...,57.100000,1988.000000,1.000000,0.241044,0.163677,36.000000,75.000000,0.000000,10.267850,0.000000
75%,28012.000000,3.000000,48049.000000,106.600000,6.648000e+04,16.730000,16.200000,8.740000,45.870000,209.880000,...,89.958000,1992.000000,3.000000,0.735294,0.701715,48.000000,127.000000,0.000000,11.104660,0.000000
max,37349.000000,2391.000000,56045.000000,54058.770000,9.127751e+06,30.484580,40.520000,86.279340,78.040000,1306.496000,...,642.730000,1996.000000,1944.000000,39.840640,148.658400,56.000000,840.000000,7.000000,16.026830,2.388916

In [ ]:
df.dtypes

rownames         int64
arrests        float64
countyid         int64
density        float64
popul            int64
perc1019       float64
perc2029       float64
percblack      float64
percmale       float64
rpcincmaint    float64
rpcpersinc     float64
rpcunemins     float64
year             int64
murders          int64
murdrate       float64
arrestrate     float64
statefips        int64
countyfips       int64
execs            int64
lpopul         float64
execrate       float64
dtype: object

In [ ]:
df.isna().sum()

rownames         0
arrests        504
countyid         0
density          0
popul            0
perc1019         0
perc2029         0
percblack        0
percmale         0
rpcincmaint      3
rpcpersinc       3
rpcunemins       3
year             0
murders          0
murdrate         0
arrestrate     504
statefips        0
countyfips       0
execs            0
lpopul           0
execrate         0
dtype: int64